@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Outfit:wght@400;700&family=Prompt:wght@600&display=swap');

@font-face {
    font-family: souptik;
    src: url('./font/ARCADECLASSIC.TTF');
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #000000;
    height: 100vh;
}

.menu-icon span {
    height: 4px;
    width: 25px;
    background-color: #000000;
    display: inline-block;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.logo {
    text-decoration: none;
    color: white;
    /* margin-right: 400px; */
    /* border: 1px solid rgb(0, 247, 255); */
}

.icon-part1 {
    display: flex;
    margin-left: 420px;
}

.menu-icon {
    margin-right: 420px;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 5px 5px -5px #333;
    position: relative;
    display: flex;
    /* background-color: #0b409c; */
    justify-content: center;
    background: rgb(6, 0, 101);
    background: linear-gradient(90deg, rgba(6, 0, 101, 1) 0%, rgba(84, 9, 121, 1) 51%, rgba(0, 212, 255, 1) 100%);
}

.first-part {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 5px 5px -5px #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #ffffff;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    /* border: 1px solid rgb(17, 0, 255); */
}

form {
    background: #ffffff;
    width: 600px;
    height: 50px;
    display: flex;
}

form input {
    flex: 1;
    border: none;
    outline: none;
}

form .searchbar-btn {
    background: rgba(0, 212, 255, 1) 100%;
    padding: 10px 50px;
    border: none;
    /* border: 3px solid rgb(0, 0, 0); */
    outline: none;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    cursor: pointer;
    font: 1em sans-serif;
    font-weight: 700;
}

form .fa-magnifying-glass {
    align-self: center;
    padding: 10px 20px;
    color: #000000;
}



.icon-part1 img {
    width: 100%;
    object-fit: contain;
}

.uicon {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}


.logo img {
    width: 100px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0px;
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
}

nav ul {
    list-style: none;
    display: flex;

}

nav li {
    padding: 8px;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-family: souptik;
    font-size: 20px;
}

.menu-dot {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cat {
    border-right: 1px solid grey;
    margin-right: 20px;
    margin-left: 0px;
}

.magamenu1 {
    position: absolute;
    top: 120%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    height: 300px;
    left: 0px;
    transition: 1s;
    background-color: #6b70798f;
    display: flex;
    z-index: 99;
}

.magamenu1-item1 {
    flex-basis: 23%;
    margin: 1%;
}

.magamenu1-item1 a:hover {
    padding-left: 5px;
    color: #355da1;
}

.magamenu1-item1 a {
    margin: 0px;
    transition: .5s;
    cursor: pointer;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(128, 128, 128, 0.616);
    font-family: none;
}

.magamenu1-item1 ul li {
    margin: 0px;
}

.magamenu1-item1 h3 {
    padding-top: 10px;
}

.magamenu1-item1 ul {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

nav ul li:hover .magamenu1 {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.un {
    display: flex;
}

.unl {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.unn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.unn h1 {
    font-size: 20px;
}

.unc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.unb {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 5px;
}

.unb-b {
    padding: 7px 20px;
    margin-left: 5px;
    background-color: #00000000;
}

.unu {
    padding-bottom: 20px;
}

.slideber {
    width: 250px;
    border: 1px solid black;
    background-color: #ffffffee;
    position: absolute;
    top: 0px;
    padding: 5px;
    display: none;
    z-index: 99;
}

.unlist-all h1 {
    font-size: 17px;
    padding-top: 5px;
}

.unlist-all ul {
    list-style: none;
}

.unlist-all ul li {
    padding-top: 15px;
    padding-left: 10px;
}

.unlist-all ul li a {
    text-decoration: none;
    color: #000000;
}

.unlist-all p {
    margin: 20px 10px;
}

.unlist-all span {
    color: rgb(7, 141, 252);
}

.unlist-all hr {
    margin-top: 5px;
}

/* ---------- */
.poster-main {
    background-color: dodgerblue;
    padding: 1rem;
    object-fit: cover;
}

.layout {
    max-width: 1349px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
}

@media (min-width: 600px) {
    .layout {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .layout {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* .layout {
    width: 1349px;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.poster-main {
    object-fit: cover;
    padding: 5px;
} */
/* ------------ */
.poster-main img {
    width: 405px;
}

/* .slide-container {
    position: relative;
    width: 1349px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.slide {
    width: 100%;
}
.arrow {
    cursor: pointer;
    position: absolute;
    top: 45%;
    color: black;
    background-color: aliceblue;
    padding: 8px 19px;
    font-size: 25px;
    font-weight: bold;
}

.next {
    right: 0px;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background-color: transparent;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.prev {
    left: 0px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: transparent;
}

.slide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 4
    }
} */
.mySlides {
    display: none;
    padding: 2px;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1349px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media (max-width:820px) {
    #nav ul {
        display: none;
    }

    form input {
        width: 100%;
    }
}

.intel-section {
    /* position: relative; */
    /* width: 1349px; */
    border: 1px solid red;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .iposter {
    width: 30%;
    border: 1px solid yellow;
    display: flex;
    height: 400px;
} */
.slider {
    width: 100%;
    height: 200px;
    position: relative;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider .slide {
    display: flex;
    position: absolute;
    left: 0;
    transition: 0.5s left ease-in-out;
}

.slider .item {
    margin-right: 10px;
}

.slider .item:last-child {
    margin-right: 0;
}

.ctrl {
    text-align: center;
    margin-top: 5px;
}

.ctrl-btn {
    padding: 10px 10px;
    min-width: 50px;
    background: #fff;
    border: none;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    outline: none;

    position: absolute;
    top: 50%;
    margin-top: -27.5px;
}

.ctrl-btn.pro-prev {
    left: 0;
}

.ctrl-btn.pro-next {
    right: 0;
}

/* ------- */
.productH {
    display: flex;
}

.productA {
    width: 35%;
    overflow: hidden;
}

.productA img {
    object-fit: cover;
    width: 100%;
}

.productB {
    width: 75%;
    padding: 5px;
    background-color: #36363f;
}

.productB-header {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0px;
    /* border: 1px solid blue; */
    justify-content: space-between;
}

.productB-header-logo {
    width: 100px;
}

.productB-header-logo img {
    width: 100%;
}

.productB-header-menus {
    display: flex;
    align-items: center;
    justify-content: center;
}

.productB-header-menus ul {
    display: flex;
}

.productB-header-menus ul li {
    float: left;
    list-style: none;
    margin: 0px 20px;
}

.productB-header-menus ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top: 5px;
}

.section-tab-nav li.active2 {
    background-color: #00000000;
}

.section-tab-nav li a:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #D10024;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.section-tab-nav li.active2 a {
    color: #D10024;
}

.section-tab-nav li a:hover:after,
.section-tab-nav li a:focus:after,
.section-tab-nav li.active2 a:after {
    width: 100%;
}

.productB-slider {
    width: 100%;
    height: 350px;
    display: none;
}

#intel-i3 {
    display: block;
}

.intel-i3-1 {
    width: 20%;
    height: 350px;
    border: 1px solid black;
    background-color: #f2f2f2;
}

.intel-i3-1-img {
    width: 100%;
    overflow: hidden;
}

.intel-i3-1-img img {
    padding: 10px;
    object-fit: cover;
    width: 100%;
}

.stock {
    border-radius: 25px;
    border: 2px solid green;
    color: green;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 10px;
}

.product-name {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 10px;
}

.cart {
    width: 90%;
    padding: 10px 10px;
    margin-left: 10px;
    background-color: yellow;
    color: #000000;
    font-size: 15px;
    font-weight: 600;
}

.intel-i3-1 del {
    color: rgb(255, 0, 0);
    text-decoration: none;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
}

.intel-i3-1 del:before {
    content: " ";
    display: block;
    width: 100%;
    border-top: 2px solid rgb(59, 59, 59);
    height: 1px;
    position: absolute;
    bottom: 7px;
    left: 0;
    transform: rotate(-11deg);
}

.intel-i3-1 del:after {
    content: " ";
    display: block;
    width: 100%;
    border-top: 2px solid rgb(49, 49, 49);
    height: 1px;
    position: absolute;
    bottom: 7px;
    left: 0;
    transform: rotate(11deg);
}
.productB-slider-discount{
    color: green;
    font-size: 17px;
    font-weight: 600;
    margin-left: 10px;
}

.intel-i3-1 ins {
    color: green;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    margin-left: 10px;
}