@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Outfit:wght@400;700&family=Prompt:wght@600&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #f2f7ff;
    height: 100vh;
}
.menu-icon span{
    height: 4px;
    width: 25px;
    background-color: #000000;
    display: inline-block;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.first-part {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 5px 5px -5px #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    /* border: 1px solid black; */
    justify-content: space-between;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(17, 0, 255); */
}

form {
    background: #ffffff;
    width: 600px;
    height: 50px;
    display: flex;
}

form input {
    flex: 1;
    border: none;
    outline: none;
}

form .searchbar-btn {
    background: #0b409c;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: rgb(255, 254, 254);
    letter-spacing: 1px;
    cursor: pointer;
    font: 1em sans-serif;
    font-weight: 700;
}

form .fa-magnifying-glass {
    align-self: center;
    padding: 10px 20px;
    color: #000000;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 5px 5px -5px #333;
    position: relative;
    display: flex;
    background-color: #0b409c;
}

.icon-part1 {
    display: flex;
}

.icon-part1 img {
    width: 100%;
    object-fit: contain;
}
.uicon{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.logo {
    text-decoration: none;
    color: white;
    /* border: 1px solid rgb(0, 247, 255); */
}

.logo img {
    width: 100px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0px;
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav li {
    padding: 8px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.menu-dot{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.magamenu1{
    position: absolute;
    width: 100%;
    height: 300px;
    border: 1px solid black;
}

@media (max-width: 40.625em) {
    nav .menu {
        width: 100%;
        height: 0;
        overflow: hidden;
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0;
        margin-left: 0px;
    }

    nav label {
        display: inline-flex;
        color: rgb(255, 255, 255);
        cursor: pointer;
    }

    nav #toggle:checked~.menu {
        height: 100%;
        color: rgb(0, 0, 0);
    }

    .menu-icons img {
        width: 50px;
    }

    .menu-icons {
        width: 50px;
    }

    .logbtn {
        margin-right: 77px;
    }
}
.un{
    display: flex;
}
.unl{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px; 
}
.unn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.unn h1{
    font-size: 20px;
}
.unc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px; 
}
.unb{
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 5px;
}
.unb-b{
    padding: 7px 20px;
    margin-left: 5px;
    background-color: #00000000;
}
.unu{
    padding-bottom: 20px;
}
.slideber{
    width: 250px;
    border: 1px solid black;
    background-color: #ffffff;
    position: absolute;
    top: 0px;
    padding: 5px;
    display: none;
}
.unlist-all h1{
    font-size: 17px;
    padding-top: 5px;
}
.unlist-all ul{
    list-style: none;
}
.unlist-all ul li{
    padding-top: 15px;
    padding-left: 10px;
}
.unlist-all ul li a{
    text-decoration: none;
    color: #000000;
}
.unlist-all p{
    margin: 20px 10px;
}
.unlist-all span{
    color: rgb(7, 141, 252);
}
.unlist-all hr{
    margin-top: 5px;
}
/* #ffe867 */