@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Outfit:wght@400;700&family=Prompt:wght@600&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #f2f7ff;
    height: 100vh;
}

.menu-icon span {
    height: 4px;
    width: 25px;
    background-color: #000000;
    display: inline-block;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.logo {
    text-decoration: none;
    color: white;
    /* margin-right: 400px; */
    /* border: 1px solid rgb(0, 247, 255); */
}
.icon-part1 {
    display: flex;
    margin-left: 420px;
}
.menu-icon{
    margin-right: 420px;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 5px 5px -5px #333;
    position: relative;
    display: flex;
    background-color: #0b409c;
    justify-content: center;
}
.first-part {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 5px 5px -5px #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    /* border: 1px solid rgb(17, 0, 255); */
}

form {
    background: #ffffff;
    width: 600px;
    height: 50px;
    display: flex;
}

form input {
    flex: 1;
    border: none;
    outline: none;
}

form .searchbar-btn {
    background: #355da1;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: rgb(255, 254, 254);
    letter-spacing: 1px;
    cursor: pointer;
    font: 1em sans-serif;
    font-weight: 700;
}

form .fa-magnifying-glass {
    align-self: center;
    padding: 10px 20px;
    color: #000000;
}



.icon-part1 img {
    width: 100%;
    object-fit: contain;
}

.uicon {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}


.logo img {
    width: 100px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0px;
    font-family: 'Prompt', sans-serif;
    font-weight: 600;

}

nav ul {
    list-style: none;
    display: flex;

}

nav li {
    padding: 8px;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.menu-dot {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cat {
    border-right: 1px solid grey;
    margin-right: 20px;
    margin-left: 0px;
}

.magamenu1 {
    position: absolute;
    top: 120%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    height: 300px;
    left: 0px;
    transition: 1s;
    background-color: #f2f7ff;
    display: flex;
}

.magamenu1-item1 {
    flex-basis: 23%;
    margin: 1%;
}
.magamenu1-item1 a:hover{
    padding-left: 5px;
    color: #355da1;
}
.magamenu1-item1 a{
    margin: 0px;
    transition: .5s;
    cursor: pointer;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(128, 128, 128, 0.616);
}

.magamenu1-item1 ul li {
    margin: 0px;
}

.magamenu1-item1 h3 {
    padding-top: 10px;
}

.magamenu1-item1 ul {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

nav ul li:hover .magamenu1 {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.un {
    display: flex;
}

.unl {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.unn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.unn h1 {
    font-size: 20px;
}

.unc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.unb {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 5px;
}

.unb-b {
    padding: 7px 20px;
    margin-left: 5px;
    background-color: #00000000;
}

.unu {
    padding-bottom: 20px;
}

.slideber {
    width: 250px;
    border: 1px solid black;
    background-color: #ffffffee;
    position: absolute;
    top: 0px;
    padding: 5px;
    display: none;
}

.unlist-all h1 {
    font-size: 17px;
    padding-top: 5px;
}

.unlist-all ul {
    list-style: none;
}

.unlist-all ul li {
    padding-top: 15px;
    padding-left: 10px;
}

.unlist-all ul li a {
    text-decoration: none;
    color: #000000;
}

.unlist-all p {
    margin: 20px 10px;
}

.unlist-all span {
    color: rgb(7, 141, 252);
}

.unlist-all hr {
    margin-top: 5px;
}

/* #ffe867 */