.header1{
    display: flex;
    background: #bdbdbd;
    height: 50px;
    width: 100%;
}
.navber-ul{
    display: flex;
    list-style: none;
    padding: 0px;
    float: left;
}
.catagori-box{
    align-items: center;
    display: flex;
    border: 1px solid black;
    padding: 10px;
    gap: 8px;
    width: 180px;
}
.cat-icon-details{
    display: flex;
    align-items: center;
    gap: 30px;
}
.cat-icon{
    /* border: 1px solid black; */
    width: 20px;
}
#circule {
    width: 4px;
    height: 4px;
    background-color: #353535;
    border-radius: 50%;
    margin-top: 2px;
}

#line {
    width: 13px;
    height: 2px;
    background-color: #353535;
    margin-top: 3px;
    margin-left: 3px;
    border-radius: 5px;
}

.dot-and-line {
    display: flex;
}
.navber-ul-li{
    display: inline-block;
    margin: 0px 10px;
}
.navber-ul-li-a{
    text-decoration: none;
}
.searchbar{
    display: flex;
    align-items: center;
    float: right;
}
.searchbar form{
    background: white;
    padding-left: 10px;
}
.searchbar input{
    outline: none;
    border: none;
}
.searchbar button{
    color: azure;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: none;
    background: rgb(37, 37, 255);
}